@page "/Personal/Projects/New"
@page "/Personal/Projects/{Id:guid}"
@using Infinite.Base.Enums
@inject ProjectHttpClient ProjectHttpClient
<PageTitle>
    @if (Id != Guid.Empty && Id != null)
    {
        @("Update project | Novel Infinite")                    
    }
    else
    {
        @("Add project | Novel Infinite")
    }
</PageTitle>
<EditForm Model="Model" OnValidSubmit="SubmitAsync">
    <div class="page-wrapper">
        <div class="page-header">
            <div class="container-xl">
                <div class="row">
                    <div class="col">
                        @if (Id != Guid.Empty && Id != null)
                        {
                            <h2 class="page-title">Update project</h2>                    
                        }
                        else
                        {
                            <h2 class="page-title">Add project</h2>
                        }
                    </div>
                    <div class="col-auto">
                        <div class="btn-list">
                            <button class="btn" type="button" @onclick="NavigationService.NavigateBack">Cancel</button>
                            @if (Id != Guid.Empty && Id != null)
                            {
                                <button class="btn btn-success" type="submit">Publish Changes</button>
                            }
                            else
                            {
                                <button class="btn btn-success" type="submit">Publish</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-9 mb-2">
                                <label class="form-label">Title</label>
                                <InputText class="form-control" @bind-Value="@Model.Title" />
                            </div>
                            <div class="col-sm-12 col-md-3 mb-2">
                                <label class="form-label">Visibility</label>
                                <InputSelect @bind-Value="@Model.Visibility" class="form-select form-control-sm">
                                    <option value="@Visibility.Public">Public</option>
                                    <option value="@Visibility.Private">Private</option>
                                    <option value="@Visibility.Unlisted">Unlisted</option>
                                </InputSelect>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                <label class="form-label">Complexity</label>
                                <InputSelect @bind-Value="@Model.Complexity" class="form-select">
                                    <option>@ProjectComplexity.Easy</option>
                                    <option>@ProjectComplexity.Medium</option>
                                    <option>@ProjectComplexity.Difficult</option>
                                </InputSelect>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                <label class="form-label">Project Type</label>
                                <InputSelect @bind-Value="@Model.Type" class="form-select">
                                    <option>@ProjectType.Personal</option>
                                    <option>@ProjectType.Professional</option>
                                    <option>@ProjectType.Research</option>
                                    <option>@ProjectType.Undisclosed</option>
                                </InputSelect>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                <label class="form-label">Capital Source</label>
                                <InputSelect @bind-Value="@Model.CapitalSourceType" class="form-select">
                                    <option>@ProjectCapitalSourceType.Personal</option>
                                    <option>@ProjectCapitalSourceType.Public</option>
                                    <option>@ProjectCapitalSourceType.Private</option>
                                    <option>@ProjectCapitalSourceType.Mixed</option>
                                </InputSelect>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                <label class="form-label">Objective</label>
                                <InputSelect @bind-Value="@Model.Objective" class="form-select">
                                    <option>@ProjectObjective.Production</option>
                                    <option>@ProjectObjective.Social</option>
                                    <option>@ProjectObjective.Educational</option>
                                    <option>@ProjectObjective.Community</option>
                                    <option>@ProjectObjective.Research</option>
                                </InputSelect>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label class="form-label">Description</label>
                                <InputTextArea @bind-Value="@Model.Description" class="form-control"></InputTextArea>
                            </div>
                            <div class="col-12 mb-2">
                                <label class="form-label">Elaborate Objectives</label>
                                <InputTextArea @bind-Value="@Model.ElaborateObjectives" class="form-control"></InputTextArea>
                                <div class="form-text">Markdown supported</div>
                            </div>
                            <div class="col-12 mb-2">
                                <label class="form-label">Requirements</label>
                                <InputTextArea @bind-Value="@Model.Requirements" class="form-control"></InputTextArea>
                                <div class="form-text">Markdown supported</div>
                            </div>
                        </div>
                        <div class="row row-deck">
                            <div class="col-sm-12 col-lg-6">
                                <fieldset class="form-fieldset mt-2 w-100">
                                    <div class="w-100">
                                        <h3>Authors</h3>
                                        <InputRadioGroup TValue="bool" ValueChanged="ChangeAuthorMode"
                                                         ValueExpression="() => Model.TeamProject" Value="Model.TeamProject">
                                            <label class="form-check form-check-inline">
                                                <InputRadio class="form-check-input" TValue="bool" Value="@false"/>
                                                <span class="form-check-label">Individual</span>
                                            </label>
                                            <label class="form-check form-check-inline">
                                                <InputRadio class="form-check-input" TValue="bool" Value="@true"/>
                                                <span class="form-check-label">Team Project</span>
                                            </label>
                                        </InputRadioGroup>
                                    </div>
                                    <div class="w-100">
                                        @if (Model.TeamProject)
                                        {
                                            <div class="d-flex flex-wrap mb-2">
                                                @if (Model.Authors != null)
                                                {
                                                    @foreach (var author in Model.Authors)
                                                    {
                                                        <span class="badge bg-blue-lt h4 me-2">@author.Name</span>
                                                    }
                                                }
                                            </div>
                                            <button type="button" class="btn" @onclick="UpdateAuthors">
                                                <BSIcon Icon="@TablerIcons.Plus" Color="Color.Dark" />
                                                Add Authors
                                            </button>
                                        }
                                        else
                                        {
                                            <span class="badge bg-blue-lt h4">@_userName</span>
                                        }
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <fieldset class="form-fieldset mt-2 w-100">
                                    <h3>Project Duration</h3>
                                    <label class="form-check form-check-inline">
                                        <InputCheckbox class="form-check-input" Value="Model.Ongoing" ValueExpression="@(() => Model.Ongoing)"
                                                       ValueChanged="@((s) => { Model.EndDate = DateTime.Now; Model.Ongoing = s; })" />
                                        <span class="form-check-label">Ongoing</span>
                                    </label>
                                    <div class="row mt-2">
                                        <div class="col-sm-12 col-lg-6 mb-2">
                                            <label class="form-label">Start Date</label>
                                            <InputDate @bind-Value="@Model.StartDate" class="form-control" Type="InputDateType.Month" />
                                        </div>  
                                        <div class="col-sm-12 col-lg-6 mb-2">
                                            <label class="form-label">End Date</label>
                                            <InputDate disabled="@Model.Ongoing" @bind-Value="@Model.EndDate" class="form-control" Type="InputDateType.Month"/>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label class="form-label">Tags</label>
                                <InputText class="form-control" @bind-Value="@Model.Tags" />
                            </div>
                            <div class="col-12 mb-2">
                                <label class="form-label">Abstract</label>
                                <InputTextArea @bind-Value="@Model.Abstract" class="form-control"></InputTextArea>
                            </div>
                        </div>
                        <h3 class="mt-4">Project Images</h3>
                        <div class="mb-2">
                            <label for="formFile" class="form-label"></label>
                            <div class="row">
                                <div class="col">
                                    <InputFile multiple id="formFile" class="form-control" OnChange="@OnChangeFiles" />
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary" @onclick="AddSelectedFiles">Add selected files</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive mb-2">
                            <table class="table table-vcenter">
                                <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var upload in Model.Uploads)
                                {
                                    <tr>
                                        <td>1</td>
                                        <td>@upload.FileName</td>
                                        <td>@GetBytesReadable(upload.Data.LongLength)</td>
                                        <td>
                                            <button type="button" class="btn" @onclick="@(() => Model.Uploads.Remove(upload))">
                                                <BSIcon Icon="@TablerIcons.X" Color="Color.Dark"/>
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</EditForm>